html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    background-color: white;
}

.navBar {
    display: flex;
    justify-content: space-between;
    height: 10%;
    padding: 0;
    background-color: white;
    opacity: 50%;
}

.title {
    padding-left: 2vw;
    color: rgb(150,150,150);
    font-family: 'Inconsolata', monospace;
}

.menu {
    height: 100%;
    width: 25%;
    border-left: thin solid rgb(150,150,150);
}

.options {
    text-align: right;
    padding-right: 2vw;
    font-size: 16pt;
    color: rgb(150,150,150);
    font-family: 'Inconsolata', monospace;
}

#map {
    height: 90%;
    width: 100%;
}